/* codigo para cabecera de pagina web */
.cabecera{
    background-color: #00695C;
}
.titulo{
    text-align: center;
    color: #FFFFFF;
}

.login{
    color: #FFFFFF;
    text-align: center;
}

/*carrito de compras*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.cart-container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

.product {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    background-color: white;
}

.product img {
    max-width: 100%;
    height: auto;
}

.add-to-cart {
    background-color: #000000;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.cart {
    border: 1px solid #000000;
    padding: 20px;
    border-radius: 5px;
}

.cart-list {
    list-style: none;
    padding: 0;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

/*color del boton de realizar compra*/
#checkout-btn {
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
}

/*codigo de cuerpo de pagina web*/
.cuerpo{
    background-color: #F5B041 ;
}

.titulo_productos{
    color: #000000;
    text-align: center;
}


/* codigo de pie de pagina web */
.color_pie{
    background-color: #F2F3F4;
}
.contenido_pie2{
    text-align: center;
}
.contenido_pie{
    text-align: center;
}

/* cambiar color al background a la parte del cuerpo de la pagina #00695C */
.cart-container{
    background-color: #00695C;
}

